<ion-header>
  <ion-navbar [color]="isRecording ? 'danger' : 'primary'">
    <ion-title>
      Create Pack
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form>   
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <!-- <ion-label floating>Point,pcs: </ion-label> -->
              <ion-input type="number" name="point" [(ngModel)]="packData.point" placeholder="Point, pcs:"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
	          <ion-item>
	            <!-- <ion-label position="floating">weight,kg: </ion-label> -->
	            <ion-input type="number" name="weight" [(ngModel)]='packData.weight' placeholder="weight, kg:"></ion-input>
	          </ion-item> 
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="floating">w: </ion-label> -->
                <ion-input type="number" name="width" [(ngModel)]='size_box.width' placeholder="width"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="floating">h: </ion-label> -->
                <ion-input type="number" name="height" [(ngModel)]='size_box.height' placeholder="height"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <!-- <ion-label position="floating">l: </ion-label> -->
                <ion-input type="number" name="length" [(ngModel)]='size_box.length' placeholder="length"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>   


<ion-item>
	<ion-label>Customer</ion-label>
	<ionic-selectable item-content name="customer" [(ngModel)]="customer1" [items]="customers" itemValueField="customer_id" itemTextField="external_id" [canSearch]="true" (onChange)="custChange($event)">
	</ionic-selectable>
</ion-item>	


               <ion-item>
                <!-- <ion-label position="floating">Track number</ion-label> -->
                <ion-input type="number" placeholder="Track" name="track" [(ngModel)]='size_box.track'></ion-input>
                <button ion-button outline item-end icon-qr-scanner (click)='scanBarcode()'>
			      <ion-icon name="qr-scanner"> </ion-icon>
			       Scan
			    </button>
                <!-- value="{{ plomba.nova_poshta }}" -->
              </ion-item> 

	      		<ion-item>
				  <!-- <ion-label position="floating">Comment</ion-label> -->
				  <ion-textarea name="comment" [(ngModel)]='packData.comment' placeholder="Comment, name"></ion-textarea>
				  <button ion-button outline item-end icon-microphone (click)='startListening()'>
				  	<ion-icon name="microphone"></ion-icon>
				  		Speaking
				  </button>	
				</ion-item>
    </ion-grid>

      <button ion-button full (click)='pushServe($event)'>PUSH serve</button>
</form>

<p *ngIf="message.success" text-uppercase color="secondary">{{ message.success }}</p>

  <div *ngIf="results">
	<p>{{ results.text }}</p>
	<p>{{ results.format }}</p>
	<p>{{ results.cancelled }}</p>
  </div>

<!-- <button ion-button (click)='scanBarcode()'>Scan barcode</button> -->


<button ion-button (click)="getPermission()">Get Permission</button>
<!-- <button ion-button full (click)="startListening()">Start Listening</button> -->


<ion-card>
	<ion-card-header>This is was I understood...</ion-card-header>
	<ion-card-content>
		<ion-list>
			<ion-item *ngFor="let match of matches ">
				{{ match }}
			</ion-item>
		</ion-list>
	</ion-card-content>
</ion-card>

</ion-content>
